#download {
  .card {
    padding: 3rem 1.5rem 15rem;
    position: relative;
    & > img {
      width: 14.5rem;
      position: absolute;
      bottom: 0;
      right: -3.5rem;
      overflow: hidden;
    }
  }

  .buttons {
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  @media (width <= 520px) {
    .card {
      padding: 4rem 2rem 10rem;
      position: relative;
      display: grid;
      grid-template-columns: 1fr;

      & > img {
        display: none;
      }
    }
  }

  @media (width >= 768px) {
    .card {
      padding: 4rem 2rem 10rem;
      position: relative;
      display: grid;
      grid-template-columns: 1fr;

      & > img {
        right: 0;
        width: 14rem;
      }
    }
  }

  @media (width >= 1024px) {
    .card {
      padding: 6rem 3rem 12rem;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;

      & > div:nth-child(1) {
        max-width: none;
      }

      & > img {
        width: 22rem;
      }
    }
  }

  @media (width >= 1280px) {
    .card {
      padding: 8.75rem 5rem;
      grid-template-columns: 1fr 1fr;

      & > div:nth-child(1) {
        max-width: 40rem;
      }

      & > img {
        width: 29.125rem;
      }
    }
  }

}